* {
    margin: 1px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 30px;
}

header {
    background-color: #222;
    padding:3px;
    border-radius: 0%;
    margin: 10px;
    height:50px;
}


header nav {
    display: flex;
    gap: 45px; 
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 80px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.03s;
    max-height: 100px;
}

button:hover {
    background-color: #ff0000;
    transform: scale(1.1);
}

img {
    margin-top: 20px;
    border-radius: 10px;
    
}

footer {
    margin-top: 1000px;
    background-color: #222;
    padding: 3px;
    border-radius: 5px;
}
